body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #2c5364);
    color: white;
    text-align: center;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: #1e2a38;
    border-radius: 15px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #3498db;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #2980b9;
}

#nextBtn {
    background: #2ecc71;
}

.hidden {
    display: none;
}

/* Image */
#playerImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 3px solid white;
}

/* Effects */
.correct {
    background-color: #2ecc71 !important;
}

.wrong {
    background-color: #e74c3c !important;
}

button:disabled {
    opacity: 0.6;
}
#playerImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 3px solid white;
}
#home h1 {
    font-size: 28px;
}

#home p {
    margin-bottom: 20px;
    color: #ccc;
}
#homeBtn {
    background: #e67e22;
}